body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    margin: 8px;
    padding: 0;
}

logo { 
	border: solid #006241 2px;
	width: 80px;
	height: 20px; 
  padding: 4px;
}

navigation {
  border: solid black 2px;
  width: 80px;
  height: 20px;
  padding: 4px;
 
}
.search {
  display: flex-content
    
}
search {
  border: solid black 2px;
  width: 80px;
  height: 20px;
  padding: 4px;
  
}

p {
  border: solid green 1px;
  line-height: 1.2rem;
  color: black;
}

.promotional-image {
  border: solid black 1px;
  justify-content: right;
  
}

.feature {
	position: flex left;
	padding: 4px;
	top: 7rem;
	border: 2px solid #006241;
}

a:hover {
  color: #77567A;
}